
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  
body{
    min-height:100vh;
    transition: 0.5s;
    transition-timing-function: ease-in;
    background-size: cover;
    background-image: url(https://wallpapers.com/images/file/pink-sunset-sky-3nsrx2pd7kuc1zr3-3nsrx2pd7kuc1zr3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(5, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
 
}
.fa-quote-left {
    font-size: 35px;
    color: purple;
}
.quote
{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.author 
{
    
    margin:10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;
}
hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid black;
    background-color: black;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}
.twitter
{
    
    border-radius: 4px;
    background-color: #a881af;
    color: white;
    text-align: center;
    font-size: 1.8em;
	width: 80px;
	height: 35px;
	line-height: 40px;
}
.instagram
{
   
    border-radius: 4px;
    background-color: #a881af;
    color: white;
    text-align: center;
    font-size: 1.8em;
	width: 80px;
	height: 35px;
	line-height: 40px;
}
.loader
{
    
    
    cursor:pointer;
    border-radius: 4px;
    background-color: #a881af;
    color: white;
    text-align: center;
    font-size: 1.2em;
	width: 170px;
	height: 35px;
	line-height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
	
}   
.container:hover
{
    box-shadow: 0 10px 10px rgb(350, 5, 0);
}
